<div class="custom-header" >
    <h3 class="text-bold fw-bold">Let's final download resume</h3>
    <p>Include your full name and at least one way for employers to reach you.</p>
    <!-- <app-resume-preview id="resumeContainer" >
    </app-resume-preview> -->
    <div>
        <div>
            <button (click)="downloadPDF()" class="btn custom-hover-1 d-flex flex-column align-items-center border border-1" > <i class="bi bi-file-earmark-arrow-down-fill"></i> download </button>
        </div>
    </div>
</div>