// .step-number {
//     background-color: #39ff90;
//     color: white;
//     font-size: 18px;
//     width: 30px;
//     height: 30px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
//     margin-right: 10px;
//   }


  /* Styling for Sidebar */
.sidebar {
    height: 85vh;
    background-color: #212d59; /* Adjust to match your background color */
  }
  
  .bg-count {
    // background-color: #39ff90; /* Adjust color as needed */
    // padding:7px;
    // margin-right: 10px;
    // font-size: 0.8rem;
    // display: inline-block;
    background-color: white;
  }
  
  .sidebar .nav-link {
    color: white;
    // font-size: 1rem;
    // padding: 10px;
  }
  
  .sidebar .nav-link:hover {
    background-color: #0056b3;
  }
  
  .bi-file-earmark {
    color: #ffffff;
  }

  .bg-blue{
    background-color: #212d59;
  }
  .active-link{
    color:rebeccapurple;
    background-color: #39ff90;
  }
  .icon-color{
    color: #39ff90;
  }
  